@import 'colours';

.circle-logo-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient( 45deg, $lightblue, $blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    .circle-logo-child {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background: $backgroundcolor;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}