@import 'colours';
@import 'fonts';

.form-container {
    width: 100%;
    h1 {
        display: none;
    }
    .form-section {
        display: flex;
        form {
            display: flex;
            flex-direction: column;
            input {
                color: #fff;
                background: $backgroundcolor-lighter;
                border: none;
                border-bottom: 2px solid $lightblue;
                height: 35px ;
                padding-left: 10px;
                font-family: sans-serif;
                outline: none;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: 600;
            }
            textarea {
                color: #fff;
                background: $backgroundcolor-lighter;
                border: none;
                border-bottom: 2px solid $lightblue;
                height: 80px ;
                padding-left: 10px;
                padding-top: 5px;
                font-family: sans-serif;
                outline: none;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: 600;
            }

            input::placeholder, textarea::placeholder {
                color: #fff;
            }

            button {
                background: $buttoncolor;
                border: none;
                border-radius: 2px;
                padding: 5px 10px;
                color: #fff;
                cursor: pointer;
            }
        }
        .contact-info-container {
            .btn-item {
                width: fit-content;
                padding: 5px 10px;
                border-radius: 5px;
                button {
                    background: $backgroundcolor;
                    border: none;
                    a {
                        text-decoration: none;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 1279px) {
    .form-container {
        h1 {
            display: none;
        }
        .form-section {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            form {
                gap: 15px;
                width: 90%;
                input {
                    font-size: 0.8em;
                }
                textarea {
                    font-size: 0.8em;
                }
                button {
                    font-size: 1em;
                    font-weight: 600;
                }
    
    
            }
            .contact-info-container {
                display: flex;
                .btn-item {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 10px 0;
                    button {
                        a {
                            color: #fff;
                        }
                    }
                    a {
                        color: #fff;
                        h3 {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}   

@media screen and (min-width: 1280px) and (max-width: 1699px) {
    .form-container {
        h1 {
            display: none;
        }
        .form-section {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            form {
                gap: 15px;
                width: 40%;
                input {
                    font-size: 0.8em;
                }
                textarea {
                    font-size: 0.8em;
                }
                button {
                    font-size: 1em;
                    font-weight: 600;
                }


            }
            .contact-info-container {
                width: 20%;
                .btn-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0;
                    button {
                        a {
                            color: #fff;
                        }
                    }
                    a {
                        color: #fff;
                        h3 {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1700px) and (max-width: 2800px) {
    .form-container {
        h1 {
            display: none;
        }
        .form-section {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            form {
                gap: 15px;
                width: 40%;
                input {
                    height: 40px;
                    font-size: 1em;
                }
                textarea {
                    height: 100px;
                    font-size: 1em;
                }
                button {
                    font-size: 1.2em;
                    font-weight: 600;
                }
            }
            .contact-info-container {
                width: 20%;
                .btn-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0;
                    button {
                        a {
                            color: #fff;
                        }
                    }
                    a {
                        color: #fff;
                        h3 {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}