@import 'colours';
@import 'fonts';

@media screen and (min-width: 520px) {
  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 80px;
      margin-top: 80px;
      h1 {
          margin-bottom: 50px;
          font-family: $bigfont;
          font-size: 40px;
          display: flex;
          align-items: center;
      }
      form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: 1px solid $lightblue;
          border-radius: 10px;
          padding: 15px 40px;
          input {
              margin: 25px;
              height: 35px;
              width: 350px;
              border-radius: 5px;
              border: 1px solid #000;
              padding-left: 10px;
              outline: none;
          }
          textarea{
              height: 80px;
              border-radius: 5px;
              width: 350px;
              padding-left: 10px;
              font-family: arial;
              margin: 25px;
              outline: none;
              padding-top: 5px;
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $backgroundcolor;
            color: $lightblue;
            border: 1px solid $lightblue;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 30px;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease 0.5;
            font-family: 'Azeret Mono', monospace;
            letter-spacing: 5px;
        }
      }
      .btn-redes-form{
          display: flex;
          align-items: center;
          justify-content: center;
          button {
              padding: 10px;
              margin: 10px;
              background: $backgroundcolor;
              color: $lightblue;
              border: 1px solid $lightblue;
              border-radius: 10px;
          }   
      }
  }

}
@media screen and (max-width: 520px) {
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        h1 {
            margin-top: 60px;
            margin-bottom: 60px;
            font-family: $bigfont;
            font-size: 40px;
            display: flex;
            align-items: center;
        }
        form {
            border: 1px solid $lightblue;
            border-radius: 10px;
            width: 100%;
            input {
                height: 35px;
                width: 90%;
                border-radius: 5px;
                border: 1px solid #000;
                outline: none;
                margin: 20px;
                padding-left: 15px;
            }
            textarea{
                height: 80px;
                border-radius: 5px;
                width: 90%;
                padding-left: 10px;
                font-family: arial;
                outline: none;
                padding-top: 5px;
                margin: 20px;
            }
            .button {
              position: relative;
              padding: 10px;
              border: none;
              background-color: transparent;
              cursor: pointer;
              outline: none;
              font-size: 18px;
              margin: 25px;
              width: 90%;
            }
              .button.type1 {
                color: $lightblue;
              }
              .button.type1.type1::after, .button.type1.type1::before {
                content: "";
                display: block;
                position: absolute;
                width: 20%;
                height: 20%;
                border: 2px solid;
                transition: all 0.4s ease;
                border-radius: 2px;
              }
              .button.type1.type1::after {
                bottom: 0;
                right: 0;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: $lightblue;
                border-right-color: $lightblue;
              }
              .button.type1.type1::before {
                top: 0;
                left: 0;
                border-bottom-color: transparent;
                border-right-color: transparent;
                border-top-color: $lightblue;
                border-left-color: $lightblue;
              }
              .button.type1.type1:hover:after, .button.type1.type1:hover:before {
                width: 100%;
                height: 100%;
              }
        }
        .btn-redes-form{
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                padding: 10px;
                margin: 10px;
                background: $backgroundcolor;
                color: $lightblue;
                border: 1px solid $lightblue;
                border-radius: 10px;
            }   
        }
    }
    
  }