@import 'colours';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundcolor; 
    color: $fontcolor;
    font-family: $normalfont;
}

a {
    text-decoration: none;
    color: $lightblue;
}

.presentation {
    margin-bottom: 850px;
}

.app-container {
    hr {
        margin: 0px auto;
        width: 100%;
        border-radius: 50px;
        border-top: 1px solid $lightblue;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    @media screen and(max-width: 834px) {
        hr .about-line {
            margin-bottom: 150px;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-bottom: 4px solid #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
  }
  
  :hover::-webkit-scrollbar-thumb {
    background: #cfd6df;
  }
  
  ::-webkit-scrollbar-thumb {
    border-bottom: 4px solid #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
  }