@import 'colours';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundcolor; 
    color: $fontcolor;
    font-family: $normalfont;
}

a {
    text-decoration: none;
    color: $lightblue;
}

.presentation {
    margin-bottom: 850px;
}

::-webkit-scrollbar-track {
    background-color: $backgroundcolor;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: $backgroundcolor;
    
}

html {
    scroll-behavior: smooth;
}

.app-container {
    hr {
        margin: 0px auto;
        width: 100%;
        border-radius: 50px;
        border-top: 1px solid $lightblue;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    @media screen and(max-width: 834px) {
        hr .about-line {
            margin-bottom: 150px;
        }
    }
}
