@import 'colours';

.navbar-container {
    height: 100px;   
    background: $backgroundcolor;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 1px 3px 1px;
    z-index: 50;
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .nav ul li {
        list-style: none;
        margin: 40px;
        cursor: pointer;
        transition: all ease 0.4s;
    }
    .nav ul li:hover {
        transform: none;
    }
    .circle-nav {
        cursor: pointer;
    }
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media screen and (min-width:1px) and (max-width: 858px){
    .circle {
        padding-top: 5px;
        padding-left: 10px;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: auto;
        background: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .1s;
        display: flex;
        flex-direction: column;
        margin-top: 6px;
    }
    nav ul li{
        display: block;
        margin: 30px 0px;
    }

    #check:checked ~ ul{
        left:0;
    }
    .navbar-container .nav {
        justify-content: space-between;
        padding-top: 10px;
        
    }
    .navbar-container {
        height: 85px;
    }
}

@media screen and (min-width:859px) and (max-width: 952px){
    .circle {
        padding-top: 15px;
    }
    .enlace{
        padding-left: 20px;
    }
    .nav ul li h3{
        font-size: 16px;
    }
    .nav ul {
        display: flex;
        flex-direction: row;
    }
    .navbar-container {
        height: 75px;
    }
}

@media screen and (min-width: 953px) and (max-width:1600px) {
    .nav ul{
        display: flex;
    }
    .circle {
        padding-top: 15px;
    }
    .navbar-container {
        height: 85px;
    }
}

@media screen and (min-width:1601px) and (max-width:3000px){
    .navbar-container nav ul {
        display: flex;
    }
    .nav ul li h3 {
        font-size: 27px;
    }
    .circle {
        padding-top: 20px;
    }
    
}
