@import 'colours';
@import 'fonts';

@media screen and (min-width:816px) and (max-width: 978px) {
    .presentation-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        margin-top: 200px;
        margin-left: 70px;
        margin-bottom: 180px;
        .gradient-name {
            background: linear-gradient(90deg,$lightblue, $blue);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .big-font-presentation {
            font-size: 60px;
            font-family: $bigfont;
            display: flex;
            flex-wrap: wrap;
        }
        .saludo {
            color: $lightblue;
        }
        .presentation-text {
            width: 80%;
            font-size: 16px;
        }
        button {
            padding: 10px 30px;
            font-size: 2em;
            margin-top: 20px;
            border-radius: 5px;
            background: $backgroundcolor;
            border: 1px solid $lightblue;
            color: $lightblue;
            cursor: pointer;
            transition: all ease 0.3s;
            letter-spacing: 2px;
        }
        button:hover {
            background: $buttoncolor;
        } 
    }

}

@media screen and (min-width:560px) and (max-width: 815px) {
    .presentation-container {
        width: 100%;
        display: flex;
        margin: 150px 0px;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        .gradient-name {
            background: linear-gradient(90deg,$lightblue, $blue);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .big-font-presentation {
            font-size: 56px;
            font-family: $bigfont;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 30px;
        }
        .saludo {
            color: $lightblue;
            margin: 15px 30px;
        }
        .presentation-text {
            width: 90%;
            margin: 15px 30px;
            font-size: 16px;
        }
        button {
            padding: 10px 30px;
            font-size: 2em;
            margin-top: 20px;
            margin-left: 30px;
            background: $backgroundcolor;
            border: 1px solid $lightblue;
            transition: all ease 0.3s;
            color: $lightblue;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease 0.3s;
            letter-spacing: 2px;
        }
        button:hover {
            background: $buttoncolor;
        } 
    }
}

@media screen and (min-width:1px) and (max-width: 560px) {
    .presentation-container {
        width: 100%;
        display: flex;
        margin-top: 150px;
        margin-bottom: 220px;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        text-shadow: #000;
        .gradient-name {
            background: linear-gradient(90deg,$lightblue, $blue);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .big-font-presentation {
            font-size: 40px;
            font-family: $bigfont;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 15px;
        }
        .saludo {
            color: $lightblue;
            margin: 15px;
        }
        .presentation-text {
            width: 90%;
            margin: 15px;
            font-size: 16px;
        }
        
        button {
            padding: 10px 30px;
            font-size: 1.5em;
            margin-top: 20px;
            margin-left: 15px;
            background: $backgroundcolor;
            border: 1px solid $lightblue;
            transition: all ease 0.3s;
            color: $lightblue;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease 0.3s;
            letter-spacing: 2px;
        }
        button:hover {
            background: $buttoncolor;
        } 
    }
}

@media screen and (min-width:979px) and (max-width:1600px)  {
    .presentation-container {
        width: 900px;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 190px);
        margin-top: 190px;
        text-align: start;
        margin-left: auto;
        margin-right: auto;

        .gradient-name {
            background: linear-gradient(90deg,$lightblue, $blue);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .big-font-presentation {
            font-size: 70px;
            font-family: $bigfont;
            display: flex;
            flex-wrap: wrap;
        }
        .saludo {
            color: $lightblue;
        }
        .presentation-text {
            width: 800px;
            font-size: 18px;
        }
        button {
            padding: 10px 30px;
            font-size: 2em;
            background: $backgroundcolor;
            border: 1px solid $lightblue;
            transition: all ease 0.3s;
            color: $lightblue;
            margin-top: 20px;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 2px;
        }
        button:hover {
            background: $buttoncolor;
        }    
    }
}

@media screen and (min-width:1601px) and (max-width:3000px) {
    .presentation-container {
        width: 1400px;
        display: flex;
        flex-direction: column;
        height: calc(80vh - 20px);
        justify-content: center;
        text-align: start;
        margin-top: 100px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        .gradient-name {
            background: linear-gradient(90deg,$lightblue, $blue);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .big-font-presentation {
            font-size: 110px;
            font-family: $bigfont;
            display: flex;
            flex-wrap: wrap;
        }
        .saludo {
            color: $lightblue;
            font-size: 23px;
        }
        .presentation-text {
            width: 100%;
            font-size: 23px;
        }
        button {
            padding: 10px 40px;
            font-size: 3em;
            margin-top: 30px;
            border-radius: 5px;
            background: $backgroundcolor;
            border: 1px solid $lightblue;
            transition: all ease 0.3s;
            color: $lightblue;
            cursor: pointer;
            letter-spacing: 2px;
        }
        button:hover {
            background: $buttoncolor;
        }    
    }
    
}