@import 'colours';
@import 'fonts';


.presentation-container::after {
    content: '';
    position: absolute;
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000045;
    backdrop-filter: blur(12px);
    z-index: -1;
    overflow: hidden;
}

.presentation-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .presentation-content {
        .greeting {
            color: $lightblue;
        }
        .big-font-name {
            font-family: $bigfont;
        }
        .gradient-text {
            background: linear-gradient(90deg,$lightblue 0%, $blue 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-family: $bigfont;
        }
    }
    a {
        text-decoration: none;
        button {
            background-color: $backgroundcolor;
            border: 1px solid $lightblue;
            color: $lightblue;
            font-weight: 600;
            padding: 10px 25px;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease 0.4s;
            letter-spacing: 2px;
        }
        button:hover {
            background-color: $buttoncolor;
        }
    }
}

@media screen and (min-width:300px) and (max-width: 479px) {
    .presentation-container {
        width: 100vw;
        .presentation-content {
            width: 95%;
            .greeting {
                font-size: 13px;
            }
            .big-font-name {
                font-size: 40px;
            }
            .gradient-text {
                font-size: 40px;
            }
            .presentation-text {
                p {
                    font-size: .8em;
                    margin: 5px 0;
                }
            }
            a {
                 button {
                    margin-top: 10px;
                    font-size: 1.2em;
                 }
            }
        }
    }
}

@media screen and (min-width:480px) and (max-width: 719px) {
    .presentation-container {
        width: 95vw;
        .presentation-content {
            width: 95%;
            .greeting {
                font-size: 13px;
            }
            .big-font-name {
                font-size: 40px;
            }
            .gradient-text {
                font-size: 40px;
            }
            .presentation-text {
                p {
                    font-size: .9em;
                    margin: 5px 0;
                }
            }
            a {
                 button {
                    margin-top: 10px;
                    font-size: 1.2em;
                 }
            }
        }
    }
}

@media screen and (min-width:720px) and (max-width: 1279px) {
    .presentation-container {
        width: 95vw;
        .presentation-content {
            width: 80%;
            .greeting {
                font-size: 15px;
            }
            .big-font-name {
                font-size: 50px;
            }
            .gradient-text {
                font-size: 50px;
            }
            .presentation-text {
                p {
                    font-size: .9em;
                    margin: 5px 0;
                }
            }
            a {
                 button {
                    margin-top: 10px;
                    font-size: 1.2em;
                 }
            }
        }
    }
}

@media screen and (min-width:1280px) and (max-width: 1700px) {
    .presentation-container {
        width: 95vw;
        .presentation-content {
            width: 65%;
            .greeting {
                font-size: 16px;
            }
            .big-font-name {
                font-size: 70px;
            }
            .gradient-text {
                font-size: 70px;
            }
            .presentation-text {
                p {
                    margin: 5px 0;
                }
            }
            a {
                 button {
                    margin-top: 10px;
                    font-size: 1.8em;
                 }
            }
        }
    }
}