@import 'colours';

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        width: 100%;
        .project-normal-pos, .project-reversed-pos {
            display: flex;
            justify-content: center;
            .project-information {
                display: flex;
                gap: 15px;
                .project-description {
                    border-radius: 5px;
                    background-color: $backgroundcolor-lighter;
                    font-size: .9em;
                    font-family: 'poppins';
                }
                .tecnologies {
                    display: flex;
                    gap: 10px;
                    h5 {
                        font-family: 'Azeret Mono', monospace;
                        font-weight: 100;
                        border: 1px solid $lightblue;
                        color: $lightblue;
                        border-radius: 5px;
                        cursor: default;
                    }
                }
                .repository-btn img{
                    height: 40px;
                    cursor: pointer;
                }
            }
        }
    }

@media screen and (min-width: 1280px) and (max-width:1700px) {
    .projects-title {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 80px;
    }

    .projects-container {
        .project-normal-pos {
            width: 90%;
            flex-direction: row;
            .project-image img {
                height: 300px;
                border-radius: 5px;
            }

            .project-information {
                flex-direction: column;
                justify-content: center;
                align-items: end;
                margin-left: -150px;
                .developed-text {
                    color: $lightblue;
                    text-align: end;
                }
                h1 {
                    text-align: end;
                }
                .project-description {
                    box-shadow: 0px 0px 3px 1px #000;
                    padding: 10px;
                    width: 700px;
                }
                .tecnologies {
                    justify-content: end;
                    flex-wrap: wrap;
                    h5{
                        padding: 3px 5px;
                        gap: 10px;
                    }
                } 
            }
        }


        .project-reversed-pos{
            width: 90%;
            flex-direction: row-reverse;
            .project-image img {
                height: 300px;
                border-radius: 5px;
            }

            .project-information {
                flex-direction: column;
                justify-content: center;
                align-items: start;
                margin-right: -150px;
                .developed-text {
                    color: $lightblue;
                    text-align: start;
                }
                h1 {
                    text-align: start;
                }
                .project-description {
                    box-shadow: 0px 0px 3px 1px #000;
                    padding: 10px;
                    width: 700px;
                }
                .tecnologies {
                    justify-content: start;
                    flex-wrap: wrap;
                    h5{
                        padding: 3px 5px;
                        gap: 10px;
                    }
                } 
            }
        }
    }
}