@media screen and (min-width: 300px) and (max-width: 560px) {
  .first-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: -50; }

  .second-circle-decoration {
    height: 150px;
    width: 150px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 60%;
    z-index: -50; }

  .sixth-circle-decoration {
    height: 130px;
    width: 130px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: -50; }

  .seventh-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -50; }

  .eighth-circle-decoration {
    height: 80px;
    width: 80px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: -50; } }
@media screen and (min-width: 561px) and (max-width: 891px) {
  .first-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: 0%;
    z-index: -50; }

  .second-circle-decoration {
    height: 150px;
    width: 150px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: -50; }

  .third-circle-decoration {
    height: 100px;
    width: 100px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 0%;
    z-index: -50; }

  .fourth-circle-decoration {
    height: 80px;
    width: 80px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 10%;
    z-index: -50; }

  .sixth-circle-decoration {
    height: 130px;
    width: 130px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: -50; }

  .seventh-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -50; }

  .eighth-circle-decoration {
    height: 80px;
    width: 80px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: -50; } }
@media screen and (min-width: 892px) and (max-width: 1750px) {
  .first-circle-decoration {
    height: 200px;
    width: 200px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0%;
    z-index: -50; }

  .second-circle-decoration {
    height: 150px;
    width: 150px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    right: 10%;
    z-index: -50; }

  .third-circle-decoration {
    height: 100px;
    width: 100px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 0%;
    z-index: -50; }

  .fourth-circle-decoration {
    height: 80px;
    width: 80px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 10%;
    z-index: -50; }

  .sixth-circle-decoration {
    height: 130px;
    width: 130px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: -50; }

  .seventh-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -50; }

  .eighth-circle-decoration {
    height: 80px;
    width: 80px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: -50; } }
@media screen and (min-width: 1751px) and (max-width: 3000px) {
  .first-circle-decoration {
    height: 250px;
    width: 250px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: 0%;
    z-index: -50; }

  .second-circle-decoration {
    height: 200px;
    width: 200px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: -50; }

  .third-circle-decoration {
    height: 150px;
    width: 150px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    right: 0%;
    z-index: -50; }

  .fourth-circle-decoration {
    height: 130px;
    width: 130px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 10%;
    z-index: -50; }

  .sixth-circle-decoration {
    height: 180px;
    width: 180px;
    background: #3a77fe;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: -50; }

  .seventh-circle-decoration {
    height: 200px;
    width: 200px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -50; }

  .eighth-circle-decoration {
    height: 130px;
    width: 130px;
    background: #07fad3;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: -50; } }

/*# sourceMappingURL=DecorationCircle.css.map */
