.form-container {
  width: 100%; }
  .form-container h1 {
    display: none; }
  .form-container .form-section {
    display: flex; }
    .form-container .form-section form {
      display: flex;
      flex-direction: column; }
      .form-container .form-section form input {
        color: #fff;
        background: #0e253b;
        border: none;
        border-bottom: 2px solid #07fad3;
        height: 35px;
        padding-left: 10px;
        font-family: sans-serif;
        outline: none;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-weight: 600; }
      .form-container .form-section form textarea {
        color: #fff;
        background: #0e253b;
        border: none;
        border-bottom: 2px solid #07fad3;
        height: 80px;
        padding-left: 10px;
        padding-top: 5px;
        font-family: sans-serif;
        outline: none;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-weight: 600; }
      .form-container .form-section form input::placeholder, .form-container .form-section form textarea::placeholder {
        color: #fff; }
      .form-container .form-section form button {
        background: #07fad11d;
        border: none;
        border-radius: 2px;
        padding: 5px 10px;
        color: #fff;
        cursor: pointer; }
    .form-container .form-section .contact-info-container .btn-item {
      width: fit-content;
      padding: 5px 10px;
      border-radius: 5px; }
      .form-container .form-section .contact-info-container .btn-item button {
        background: #04101b;
        border: none; }
        .form-container .form-section .contact-info-container .btn-item button a {
          text-decoration: none; }
      .form-container .form-section .contact-info-container .btn-item a {
        text-decoration: none; }

@media screen and (min-width: 1280px) and (max-width: 1700px) {
  .form-container h1 {
    display: none; }
  .form-container .form-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row; }
    .form-container .form-section form {
      gap: 15px;
      width: 40%; }
      .form-container .form-section form input {
        font-size: 0.8em; }
      .form-container .form-section form textarea {
        font-size: 0.8em; }
      .form-container .form-section form button {
        font-size: 1em;
        font-weight: 600; }
    .form-container .form-section .contact-info-container {
      width: 20%; }
      .form-container .form-section .contact-info-container .btn-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0; }
        .form-container .form-section .contact-info-container .btn-item button a {
          color: #fff; }
        .form-container .form-section .contact-info-container .btn-item a {
          color: #fff; }
          .form-container .form-section .contact-info-container .btn-item a h3 {
            font-size: 1.5em; } }

/*# sourceMappingURL=Form.css.map */
