.presentation-container::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000045;
  backdrop-filter: blur(12px);
  z-index: -1;
  overflow: hidden; }

.presentation-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .presentation-container .presentation-content .greeting {
    color: #07fad3; }
  .presentation-container .presentation-content .big-font-name {
    font-family: "Poppins", sans-serif; }
  .presentation-container .presentation-content .gradient-text {
    background: linear-gradient(90deg, #07fad3 0%, #3a77fe 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Poppins", sans-serif; }
  .presentation-container a {
    text-decoration: none; }
    .presentation-container a button {
      background-color: #04101b;
      border: 1px solid #07fad3;
      color: #07fad3;
      font-weight: 600;
      padding: 10px 25px;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.4s;
      letter-spacing: 2px; }
    .presentation-container a button:hover {
      background-color: #07fad11d; }

@media screen and (min-width: 300px) and (max-width: 479px) {
  .presentation-container {
    width: 100vw; }
    .presentation-container .presentation-content {
      width: 95%; }
      .presentation-container .presentation-content .greeting {
        font-size: 13px; }
      .presentation-container .presentation-content .big-font-name {
        font-size: 40px; }
      .presentation-container .presentation-content .gradient-text {
        font-size: 40px; }
      .presentation-container .presentation-content .presentation-text p {
        font-size: .8em;
        margin: 5px 0; }
      .presentation-container .presentation-content a button {
        margin-top: 10px;
        font-size: 1.2em; } }
@media screen and (min-width: 480px) and (max-width: 719px) {
  .presentation-container {
    width: 95vw; }
    .presentation-container .presentation-content {
      width: 95%; }
      .presentation-container .presentation-content .greeting {
        font-size: 13px; }
      .presentation-container .presentation-content .big-font-name {
        font-size: 40px; }
      .presentation-container .presentation-content .gradient-text {
        font-size: 40px; }
      .presentation-container .presentation-content .presentation-text p {
        font-size: .9em;
        margin: 5px 0; }
      .presentation-container .presentation-content a button {
        margin-top: 10px;
        font-size: 1.2em; } }
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .presentation-container {
    width: 95vw; }
    .presentation-container .presentation-content {
      width: 80%; }
      .presentation-container .presentation-content .greeting {
        font-size: 15px; }
      .presentation-container .presentation-content .big-font-name {
        font-size: 50px; }
      .presentation-container .presentation-content .gradient-text {
        font-size: 50px; }
      .presentation-container .presentation-content .presentation-text p {
        font-size: .9em;
        margin: 5px 0; }
      .presentation-container .presentation-content a button {
        margin-top: 10px;
        font-size: 1.2em; } }
@media screen and (min-width: 1280px) and (max-width: 1699px) {
  .presentation-container {
    width: 95vw; }
    .presentation-container .presentation-content {
      width: 65%; }
      .presentation-container .presentation-content .greeting {
        font-size: 16px; }
      .presentation-container .presentation-content .big-font-name {
        font-size: 70px; }
      .presentation-container .presentation-content .gradient-text {
        font-size: 70px; }
      .presentation-container .presentation-content .presentation-text p {
        margin: 5px 0; }
      .presentation-container .presentation-content a button {
        margin-top: 10px;
        font-size: 1.5em; } }
@media screen and (min-width: 1700px) {
  .presentation-container {
    width: 95vw; }
    .presentation-container .presentation-content {
      width: 65%; }
      .presentation-container .presentation-content .greeting {
        font-size: 20px; }
      .presentation-container .presentation-content .big-font-name {
        font-size: 90px; }
      .presentation-container .presentation-content .gradient-text {
        font-size: 90px; }
      .presentation-container .presentation-content .presentation-text p {
        font-size: 1.4em;
        margin: 5px 0; }
      .presentation-container .presentation-content a button {
        margin-top: 10px;
        font-size: 2.2em; } }

/*# sourceMappingURL=Presentation.css.map */
