.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%; }
  .projects-container .project-normal-pos, .projects-container .project-reversed-pos {
    display: flex;
    justify-content: center; }
    .projects-container .project-normal-pos .project-information, .projects-container .project-reversed-pos .project-information {
      display: flex;
      gap: 15px; }
      .projects-container .project-normal-pos .project-information h1, .projects-container .project-normal-pos .project-information .developed-text, .projects-container .project-reversed-pos .project-information h1, .projects-container .project-reversed-pos .project-information .developed-text {
        text-shadow: 0px 0px 3px #000; }
      .projects-container .project-normal-pos .project-information .project-description, .projects-container .project-reversed-pos .project-information .project-description {
        border-radius: 5px;
        background-color: #0e253b;
        font-size: .9em;
        font-family: 'poppins'; }
      .projects-container .project-normal-pos .project-information .tecnologies, .projects-container .project-reversed-pos .project-information .tecnologies {
        display: flex;
        gap: 10px; }
        .projects-container .project-normal-pos .project-information .tecnologies h5, .projects-container .project-reversed-pos .project-information .tecnologies h5 {
          font-family: 'Azeret Mono', monospace;
          font-weight: 100;
          border: 1px solid #07fad3;
          color: #07fad3;
          border-radius: 5px;
          cursor: default; }
      .projects-container .project-normal-pos .project-information .repository-btn img, .projects-container .project-reversed-pos .project-information .repository-btn img {
        height: 40px;
        cursor: pointer; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .projects-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 80px; }

  .projects-container .project-normal-pos {
    width: 90%;
    flex-direction: column-reverse;
    position: relative; }
    .projects-container .project-normal-pos .project-image img {
      height: 220px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .projects-container .project-normal-pos .project-image::after {
      background: #000000a3;
      content: '';
      height: 220px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    .projects-container .project-normal-pos .project-information {
      position: absolute;
      right: 20px;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: end; }
      .projects-container .project-normal-pos .project-information .developed-text {
        display: none; }
      .projects-container .project-normal-pos .project-information h1 {
        color: #07fad3;
        text-shadow: 0px 0px 3px #000;
        font-size: 1.3em;
        text-align: end; }
      .projects-container .project-normal-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 5px;
        text-align: end;
        width: 95%;
        font-size: 0.8em; }
      .projects-container .project-normal-pos .project-information .tecnologies {
        justify-content: end;
        flex-wrap: wrap;
        gap: 2px;
        width: 90%; }
        .projects-container .project-normal-pos .project-information .tecnologies h5 {
          padding: 2px 4px;
          gap: 10px;
          font-size: .7em; }
      .projects-container .project-normal-pos .project-information .repository-btn img {
        height: 35px; }
  .projects-container .project-reversed-pos {
    width: 90%;
    flex-direction: column;
    position: relative; }
    .projects-container .project-reversed-pos .project-image img {
      height: 220px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .projects-container .project-reversed-pos .project-image::after {
      background: #000000a3;
      content: '';
      height: 220px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    .projects-container .project-reversed-pos .project-information {
      position: absolute;
      left: 20px;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: start; }
      .projects-container .project-reversed-pos .project-information .developed-text {
        display: none; }
      .projects-container .project-reversed-pos .project-information h1 {
        color: #07fad3;
        font-size: 1.3em;
        text-align: start;
        text-shadow: 0px 0px 3px #000; }
      .projects-container .project-reversed-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 5px;
        text-align: start;
        width: 95%;
        font-size: 0.8em; }
      .projects-container .project-reversed-pos .project-information .tecnologies {
        justify-content: start;
        flex-wrap: wrap;
        gap: 2px;
        width: 100%; }
        .projects-container .project-reversed-pos .project-information .tecnologies h5 {
          padding: 2px 4px;
          gap: 10px;
          font-size: .7em; }
      .projects-container .project-reversed-pos .project-information .repository-btn img {
        height: 35px; } }
@media screen and (min-width: 480px) and (max-width: 1280px) {
  .projects-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 80px; }

  .projects-container .project-normal-pos {
    width: 90%;
    flex-direction: column-reverse;
    position: relative; }
    .projects-container .project-normal-pos .project-image img {
      width: 100%;
      border-radius: 5px; }
    .projects-container .project-normal-pos .project-image::after {
      background: #000000a3;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    .projects-container .project-normal-pos .project-information {
      position: absolute;
      right: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: end; }
      .projects-container .project-normal-pos .project-information .developed-text {
        color: #07fad3;
        text-align: end;
        text-shadow: 0px 0px 3px #000; }
      .projects-container .project-normal-pos .project-information h1 {
        text-shadow: 0px 0px 3px #000;
        text-align: end; }
      .projects-container .project-normal-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 10px;
        width: 80%; }
      .projects-container .project-normal-pos .project-information .tecnologies {
        justify-content: end;
        flex-wrap: wrap; }
        .projects-container .project-normal-pos .project-information .tecnologies h5 {
          padding: 3px 5px;
          gap: 10px; }
  .projects-container .project-reversed-pos {
    width: 90%;
    flex-direction: column;
    position: relative; }
    .projects-container .project-reversed-pos .project-image img {
      width: 100%;
      border-radius: 5px; }
    .projects-container .project-reversed-pos .project-image::after {
      background: #000000a3;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    .projects-container .project-reversed-pos .project-information {
      position: absolute;
      left: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: start; }
      .projects-container .project-reversed-pos .project-information .developed-text {
        color: #07fad3;
        text-align: start;
        text-shadow: 0px 0px 3px #000; }
      .projects-container .project-reversed-pos .project-information h1 {
        text-align: start;
        text-shadow: 0px 0px 3px #000; }
      .projects-container .project-reversed-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 10px;
        max-width: 80%; }
      .projects-container .project-reversed-pos .project-information .tecnologies {
        justify-content: start;
        flex-wrap: wrap; }
        .projects-container .project-reversed-pos .project-information .tecnologies h5 {
          padding: 3px 5px;
          gap: 10px; } }
@media screen and (min-width: 1280px) and (max-width: 1700px) {
  .projects-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 80px; }

  .projects-container .project-normal-pos {
    width: 90%;
    flex-direction: row; }
    .projects-container .project-normal-pos .project-image img {
      height: 300px;
      border-radius: 5px; }
    .projects-container .project-normal-pos .project-information {
      flex-direction: column;
      justify-content: center;
      align-items: end;
      margin-left: -150px; }
      .projects-container .project-normal-pos .project-information .developed-text {
        color: #07fad3;
        text-align: end; }
      .projects-container .project-normal-pos .project-information h1 {
        text-align: end; }
      .projects-container .project-normal-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 10px;
        width: 700px; }
      .projects-container .project-normal-pos .project-information .tecnologies {
        justify-content: end;
        flex-wrap: wrap; }
        .projects-container .project-normal-pos .project-information .tecnologies h5 {
          padding: 3px 5px;
          gap: 10px; }
  .projects-container .project-reversed-pos {
    width: 90%;
    flex-direction: row-reverse; }
    .projects-container .project-reversed-pos .project-image img {
      height: 300px;
      border-radius: 5px; }
    .projects-container .project-reversed-pos .project-information {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-right: -150px; }
      .projects-container .project-reversed-pos .project-information .developed-text {
        color: #07fad3;
        text-align: start; }
      .projects-container .project-reversed-pos .project-information h1 {
        text-align: start; }
      .projects-container .project-reversed-pos .project-information .project-description {
        box-shadow: 0px 0px 3px 1px #000;
        padding: 10px;
        width: 700px; }
      .projects-container .project-reversed-pos .project-information .tecnologies {
        justify-content: start;
        flex-wrap: wrap; }
        .projects-container .project-reversed-pos .project-information .tecnologies h5 {
          padding: 3px 5px;
          gap: 10px; } }

/*# sourceMappingURL=Projects.css.map */
