.technologies-container::before {
  content: '';
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000045;
  backdrop-filter: blur(12px);
  z-index: -1;
  overflow: hidden; }

.technologies-line {
  opacity: 0; }

@media screen and (min-width: 1px) and (max-width: 376px) {
  .technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    position: relative; }

  .items-tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: auto; }

  .technologies-title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 40px; }

  .tech-item {
    margin: 30px;
    text-align: center;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .tech-item img {
      height: 60px; } }
@media screen and (min-width: 377px) and (max-width: 1114px) {
  .technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 100px;
    position: relative; }

  .items-tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: auto; }

  .technologies-title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 40px; }

  .tech-item {
    margin: 40px;
    text-align: center;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .tech-item img {
      height: 80px; } }
@media screen and (min-width: 1115px) and (max-width: 1684px) {
  .technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    position: relative; }

  .items-tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: 70px auto;
    margin-bottom: 0px; }

  .technologies-title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 40px; }

  .tech-item {
    margin: 30px 60px;
    text-align: center;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .tech-item img {
      height: 100px; } }
@media screen and (min-width: 1685px) and (max-width: 3000px) {
  .technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    margin-top: 80px;
    position: relative; }

  .items-tech-container {
    display: flex;
    justify-content: center;
    gap: 85px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: 20px auto;
    margin-bottom: 0px; }

  .technologies-title {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 40px; }

  .tech-item {
    margin: 30px 80px;
    text-align: center;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .tech-item img {
      height: 140px; }
    .tech-item h3 {
      font-size: 30px; } }

/*# sourceMappingURL=Technologies.css.map */
